
/*=> Forum Sprites
--------------------------------------------------*/

%icon {
  background: url("#{$img-url}/forum-sprite.png") no-repeat;
}
%topic {
  @extend %icon;
  background-position: -2px 0;
}
%add {
  @extend %icon;
  background-position: -2px -300px;
}
%old {
  @extend %icon;
  background-position: 0 30px;
}
%sticky {
  @extend %icon;
  background-position: -2px -149px;
}
%locked {
  @extend %icon;
  background-position: -2px -222px;
}

/*=> Forum styles
--------------------------------------------------*/
#bbpress-forums {

  color: $white;

  li {
    margin: 0;
    list-style: none;
  }

  .breadcrumb {
    margin-left: -$gutter;
    padding: $gutter-half $gutter-half $gutter-half $gutter;
    width: calc(100% + $gutter);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .subscription-toggle {
    @extend .btn;
    @extend .btn-success;
    float: right;
    margin: 9px;
  }
  .is-subscribed .subscription-toggle {
    @extend .btn;
    @extend .btn-danger;
    margin-bottom: $gutter;
  }

  #bbp-search-form {
    margin-bottom: $gutter;
  }

  .bbp-topic-revision-log-item,
  .bbp-reply-revision-log-item,
  .bbp-template-notice {
    @include alert(5px, .15);
  }
  .bbp-topic-revision-log,
  .bbp-reply-revision-log {

    padding: 0 !important;

    .bbp-topic-revision-log-item,
    .bbp-reply-revision-log-item {
      padding: 10px;
      font-size: .9em !important;
    }
  }
  .bbp-template-notice {

    &.error {
      border-color: $brand-warning;
      background-color: rgba($brand-warning, .4);
    }
    p {
      margin: 0 !important;
      padding: 0;
    }
  }

  .avatar {
    margin-top: 2px;
    vertical-align: top; 
  }
  .bbp-topic-title, .bbp-topic-voice-count, .bbp-topic-reply-count, .bbp-topic-freshness,
  .bbp-forum-info, .bbp-forum-topic-count, .bbp-forum-reply-count, .bbp-forum-freshness,
  .bbp-reply-author, .bbp-reply-content {
    float: left;
  }
  .bbp-topic-voice-count, .bbp-forum-reply-count, .bbp-topic-reply-count, .bbp-topic-freshness,
  .bbp-forum-topic-count, .bbp-forum-reply-count, .bbp-forum-freshness {
    @extend .text-center;
    width: 10%;
    text-align: center;
  }
  .bbp-topic-freshness,
  .bbp-forum-freshness {
    width: 22%;
  }

  .favorite-toggle {
    @extend .btn;
    color: $white;
  }

  .bbp-reply-header {

    .bbp-meta {
      
      padding: $gutter-half;
      width: 100%;
      text-align: right;

      .bbp-reply-post-date {
        float: left;
        margin-top: 6px;
      }
      .bbp-admin-links a {

        @extend .btn;
        @extend .btn-default;

        margin-right: 10px;

        &[class*="edit-link"] {
          @extend .btn-primary;
        }
        &[class*="reply-link"],
        &[class*="reply-to-link"] {
          @extend .btn-success;
          color: $white;
        }
        &[class*="trash-link"],
        &[class*="spam-link"] {
          @extend .btn-danger;
          color: $white;
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  .topic, .reply {

    @extend .clearfix;

    .bbp-header {

      .bbp-reply-author {     
        width: 20%;
      }
    }

    .bbp-reply-author, .bbp-reply-content {
      padding: $gutter-half;
    }
    .bbp-reply-author {
      margin-right: $gutter-half;
      width: 20% !important;
      background-color: rgba($white, 0.04);
      border-right: 15px solid rgba($white, 0.2);
      box-sizing: border-box;
    }
    .bbp-reply-content {
      width: calc(80% - 15px);
    }

    .bbp-author-avatar .avatar {
      margin-bottom: $gutter-half;
    }
  }

  .bbp-replies {

    @extend .clearfix; 

    .bbp-header {

      .bbp-reply-author {
        margin-top: 6px;
      }
      .bbp-reply-content {
        float: right;
      }
      .subscription-toggle {
        @extend .btn;
        float: none;
        margin: 0;
        background: none;
        border: 1px solid transparent;
        box-shadow: none;
        transition: none;
        color: $white !important;

        &:hover, &:focus, &:active {
          background: none;
          border: 1px solid transparent;
          box-shadow: none;
          transition: none;
        }
      }
    }
    .bbp-body {
      background: none !important;
    }
  }
  .bbp-topics, .bbp-forums, .bbp-replies {

    margin-bottom: $gutter;
    border: none;
    
    &, ul {
      padding: 0;
    }

    .forum-titles {
      overflow: hidden;
    }

    li.bbp-forum-info, li.bbp-topic-title,
    .bbp-reply-author {
      width: 55%;
    }
    .bbp-topic-meta {
      margin-bottom: 0;
      font-size: 0.8em;
    }
    .bbp-header {

      padding: $gutter-half;
      width: 100%;
      -webkit-border-bottom-right-radius: 0;
      -webkit-border-bottom-left-radius: 0;
      -moz-border-radius-bottomright: 0;
      -moz-border-radius-bottomleft: 0;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;

      .bbp-topic-title, .bbp-topic-voice-count, .bbp-topic-reply-count, .bbp-topic-freshness,
      .bbp-forum-info, .bbp-forum-topic-count, .bbp-forum-reply-count, .bbp-forum-freshness,
      .bbp-reply-author, .bbp-reply-content {
        font-weight: bold;
      }
    }
    .bbp-body {

      background-color: rgba($black, $brand-light-alpha);

      ul {
        padding: 8px;
        border-bottom: 1px solid rgba($white, 0.075);
      }
      ul:last-child {
        border-bottom: none;
      }
      .bbp-topic-title, .bbp-topic-voice-count, .bbp-topic-reply-count, .bbp-topic-freshness,
      .bbp-forum-info, .bbp-forum-topic-count, .bbp-forum-reply-count, .bbp-forum-freshness,
      .bbp-reply-author, .bbp-reply-content {
        float: left;
        padding: $gutter-half;
        font-size: 1.2em;
      }
      
      .bbp-topic-title {
        @extend %topic;
        padding-left: 65px;
      }
      .sticky .bbp-topic-title, .sticky.status-closed .bbp-topic-title,
      .super-sticky .bbp-topic-title, .super-sticky.status-closed .bbp-topic-title {
        @extend %sticky;
      }
      .status-closed .bbp-topic-title {
        @extend %locked;
      }
    }
    .bbp-footer {
      display: none;
      background: none;
    }
    .bbp-body, .bbp-footer {
      border-top: 1px solid rgba($black, $brand-light-alpha);
    }
  }
  .bbp-topics,
  .bbp-header,
  .bbp-body,
  .bbp-body ul,
  .bbp-replies,
  .bbp-pagination {
    @extend .clearfix;
  }
  #new-post {
    legend {
      @extend %add;
      padding: $gutter-half $gutter $gutter-half $gutter * 2 !important;
      border: 0;
      background-color: rgba($white, .05);
    }
    textarea {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
    .bbp-submit-wrapper {
      @extend .form-group;
      float: none;
    }
    p {
      @extend .form-group;
    }
  }
  
  > li > a,
  > li > span {
    &:hover,
    &:focus {
      color: $pagination-hover-color;
      background-color: $pagination-hover-bg;
      border-color: $pagination-hover-border;
    }
  }
}
