form {

  * {
    font-family: $headings-font-family !important;
  //  font-size: 100%;
  }

  input[type="submit"],
  input[type="reset"],
  button {
    @extend .btn;
  }
  input[type="submit"],
  button[type="submit"] {
    @extend .btn-primary;
  }
  input[type="reset"],
  button {
    @extend .btn-default;
  }
  input[type="text"], input[type="password"], textarea, select {
    @extend .form-control;
    margin-bottom: $gutter !important;
    border-radius: $border-radius !important;
  }
  input[type="text"], input[type="password"] {
    width: 50%;
  }
  select {
    width: auto;
  }
  fieldset {

    padding: 0 !important;
    border: 0 !important;

    legend {

      padding: $gutter-half !important;
      width: auto !important;
      background-color: rgba($white, .05);
      color: $white;
      font-size: 1.5em;
    }
  }
}
