
/*=> News styles
--------------------------------------------------*/
#news, #search-results {

  article {

    padding-right: 0 !important;
    background-color: rgba($white, ($light-alpha / 2) / 10);

    .entry-meta {
      float: right;
      margin: 0 0 $gutter-half $gutter-half;
      width: 90px;
      height: 90px;
      padding: $gutter-half;
      border-radius: $border-radius 0 0 $border-radius;
      background-color: rgba(invert($brand-primary), .1);
      text-align: center;
    }
    .entry-date, .entry-month {
      display: block;
    }
    .entry-date {
      font-size: 3rem;
    }
    .entry-footer {
      clear: both;
    }
    .edit-link {
      margin-bottom: 0;
    }
  }
}
