#news, #search-results {

  article {

    padding-right: 0 !important;

    .entry-meta {
      float: right;
      text-align: center;
      width: 90px;
      height: 90px;
      padding: $gutter-half;
      border-radius: $border-radius 0 0 $border-radius;
      background-color: rgba(invert($brand-primary), .1);
    }
    .entry-date, .entry-month {
      display: block;
    }
    .entry-date {
      font-size: 3rem;
    }
    .entry-footer {
      clear: both;
    }
    .edit-link {
      margin-bottom: 0;
    }
  }
}
.home #news {
  padding: 0 !important;
  background: none !important;
}
