
/*=> Shoutbox styles
--------------------------------------------------*/
#page #content #shoutbox {
  .wrapper {
    max-height: 30em;
    overflow-y: auto;
  }
  article {
    position: relative;
    margin-bottom: $gutter-half;
    padding: 0 !important;

    .entry-delete,
    .entry-meta {
      font-size: 12px;
    }
    .entry-delete {
      float: right;
    }
    .entry-meta {
      color: rgba($white, $brand-light-alpha);
    }
    .entry-avatar {

      float: left;
      width: 25%;
      border-right: 5px solid rgba($brand-accent, 1);

      img {
        width: 100%;
        height: auto;
      }
    }
    .entry-content {
      float: left;
      padding: 10px $gutter-half;
      width: 75%;
      word-wrap: break-word;
    }
  }
}
#shoutbox-form {
  margin-top: $gutter;

  textarea,
  .form-group {
    margin-bottom: $gutter-half !important;
  }
}