
@import "partials/_variables.scss";
@import "partials/_mixins.scss";
@import "partials/_alerts.scss";

@import "partials/_footer.scss";
@import "partials/_forms";
@import "partials/_forums";
@import "partials/_icons";
@import "partials/_navigation";
@import "partials/_news";
@import "partials/_pagination.scss";
@import "partials/_shoutbox";

/*=> Buttons
--------------------------------------------------*/

.btn-default {
  @include btn-bg($btn-default-bg);
  color: $brand-primary !important;
}
.btn-primary {
  @include btn-bg($brand-accent);
  color: $white !important;
}
.btn-info {
  @include btn-bg($brand-accent);
  color: $white !important;
}
.btn-success {
  @include btn-bg($btn-success-bg);
  color: $white !important;
}
.btn-danger {
  @include btn-bg($btn-danger-bg);
  color: $white !important;
}
.btn-primary:focus {
  background-image: -webkit-linear-gradient(top,#37c0ff,#0097dd);
  background-image: linear-gradient(to bottom,#37c0ff,#0097dd);
}

.well {
  border-left-color: rgba($white, 0.3) !important;
  background-color: rgba($white,.05) !important;
}

.bbp-header, .current {
  @include gradient-bg($brand-accent)
}

/*=> Styles
--------------------------------------------------*/
body {
  background: url("#{$img-url}/#{$brand-bg-image}") $black no-repeat;
  color: $black;
}

#masthead {
  margin-top: ($gutter * 2) + $gutter-half;
}

.logged-in {

  #masthead {
    margin-top: ($gutter * 2) + $gutter-half;
  }

}

.site-title a {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 200px;
  background-image: url("#{$img-url}/logo.png");
  background-size: 200px;
  opacity: $brand-light-alpha;
}

#page {

  max-width: 100%;
  color: $text-colour;

  #content {

    @extend .clearfix;

    article,
    section {

      @extend .clearfix;

      margin-bottom: $gutter;
      padding: $gutter;
      background-color: rgba($black, $brand-light-alpha);
      border-radius: $border-radius;
      box-sizing: border-box;

      .page-header {
        
        border: none;

        i {
          color: darken($text-colour, 35%);
        }
      }
      .entry-header h1 {
        margin-top: 0;
      }
      &:last-of-type {
        margin-bottom: 0;
      }
    }
    .row {
      margin-bottom: $gutter;
      background-color: rgba($black, $brand-light-alpha);

      section {
        background: none;
      }
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}
.jumbotron {
  padding: $gutter * 2 !important;
}

.entry-header {
  margin-bottom: $gutter;
}

blockquote {
  @extend .well;
}

.well {
  border-color: rgba($brand-primary, 1);
  border-left: $gutter-half solid invert($brand-primary);
  background: rgba($brand-primary, .75);
}

.screen-reader-text {
  @extend .sr-only;
}

.info {
  @extend .alert;
  @extend .alert-info;
}

.glyphicon {
  margin-right: 8px;
}